<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
          <li>
            {% include icon-colab.html name='ANN' id='1JQ0O0u_J18TkifCmi2h8PUnuRTVXijl6?hl=es#scrollTo=8bUADICjg2qQ' %}
          </li>
          {% endif %}

          {% if site.gitlab_username %}
          <li>
            {% include icon-colab.html name='CNN' id='ow2oKtXP_ybUS_k49eYsizBxIV9xKzEw?hl=es' %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
